:root {
    --color-primary-white: #ffffff;
    --color-text: #434455;
    --color-dark: #2e2f42;
    --color-primary-brand: #4d5ae5;
    --color-light: #f4f4fd;
    --color-accent: #e7e9fc;
    --font-weight-main: 500;
    --font-size-main: 16px;
    --line-height-main: 1.5;
    --letter-spacing-main: 0.02em;
    }
    html {
        box-sizing: border-box;
      }
      
      body {
        font-family: 'Roboto', sans-serif;
        font-size: var(--font-size-main);
        line-height: var(--line-height-main);
        color: var(--color-text);
        background: var(--color-primary-white);
      }
      
      img {
        display: block;
      }
